Log notice stdout
CookieAuthentication 1
RunAsDaemon 0
ExitRelay 0
RefuseUnknownExits 0
ClientOnly 1
UseEntryGuards 0

# circuit rotation
NewCircuitPeriod 30
MaxCircuitDirtiness 300
LearnCircuitBuildTimeout 1
CircuitBuildTimeout 30
MaxClientCircuitsPending 8

# memory tuning
AvoidDiskWrites 1
NumEntryGuards 1
NumDirectoryGuards 1
